
body {
  
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-image: url("/js/img24.jpg");

  background-position: center;
  background-attachment: fixed;

  overflow: hidden;
  user-select: none;
}
.unselectable {
    
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.draggable {
  position: absolute;
}
.winwin {
  width: 550px;
  max-width: 550px;
}